<section class="ev-sm-container ev-view challenge-container">
    <div class="ev-md-container ev-card-panel ev-z-depth-5 ev-challenge-view">
        <div class="row margin-bottom-cancel">
            <div class="col s12">
                <h5 class="w-300">AI for Buddhism Leaderboard</h5>
            </div>
        </div>
        
        <!-- Challenges Section -->
        <div class="row">
            <div class="col s12">
                <div class="card-panel">
                    <h5 class="text-center">Challenges</h5>
                    
                    <!-- Tab Navigation -->
                    <div class="row">
                        <div class="col s12">
                            <ul class="tabs">
                                <li class="tab col s4">
                                    <a ng-class="{'active': buddhism.activeTab === 'ongoing'}" 
                                       ng-click="buddhism.setActiveTab('ongoing')">
                                       Ongoing ({{buddhism.ongoingCount}})
                                    </a>
                                </li>
                                <li class="tab col s4">
                                    <a ng-class="{'active': buddhism.activeTab === 'upcoming'}" 
                                       ng-click="buddhism.setActiveTab('upcoming')">
                                       Upcoming ({{buddhism.upcomingCount}})
                                    </a>
                                </li>
                                <li class="tab col s4">
                                    <a ng-class="{'active': buddhism.activeTab === 'past'}" 
                                       ng-click="buddhism.setActiveTab('past')">
                                       Past ({{buddhism.pastCount}})
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    
                    <!-- Challenge Cards -->
                    <div class="row" ng-if="buddhism.filteredChallenges.length > 0">
                        <div class="col s12 m6 l3" ng-repeat="challenge in buddhism.filteredChallenges">
                            <div class="card">
                                <div class="card-image">
                                    <img ng-src="{{challenge.image}}" alt="{{challenge.title}}">
                                </div>
                                <div class="card-content">
                                    <span class="card-title">{{challenge.title}}</span>
                                    <p class="organizer"><strong>Organizer:</strong> {{challenge.organizer}}</p>
                                    <p class="dates">
                                        <span class="start-date"><strong>Start:</strong> {{challenge.startDate}}</span><br>
                                        <span class="end-date"><strong>End:</strong> {{challenge.endDate}}</span>
                                    </p>
                                    <!-- Add leaderboard chart for each challenge from API -->
                                    <div ng-if="buddhism.leaderboards[challenge.id]">
                                        <h6 class="center-align">Leaderboard</h6>
                                        <canvas id="challenge-{{challenge.id}}-chart" height="200"></canvas>
                                    </div>
                                    <!-- Show message if no leaderboard data available -->
                                    <div ng-if="!buddhism.leaderboards[challenge.id]" class="center-align">
                                        <p><em>No leaderboard data available</em></p>
                                    </div>
                                </div>
                                <div class="card-action">
                                    <a ng-href="{{challenge.url}}" target="_blank">View Details</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <!-- No challenges message -->
                    <div class="row" ng-if="buddhism.filteredChallenges.length === 0">
                        <div class="col s12 center-align">
                            <p>No {{buddhism.activeTab}} challenges at the moment.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>